# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build output
dist/
coverage/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env / misc
.env
.env.*
!.env.example
